<div class="section section-md">
  {% comment %}
  <div class="container">
    <div class="row mb-5">
      <div class="mb-3">
        <h4 class="display-4" style="direction: rtl" for="search">جستجو در بین دایرکتوری ها</h4>
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            style="text-align: right"
            id="search-input"
            placeholder="...چیزی بنویسید"
            aria-label="Search"
            aria-describedby="basic-addon"
          /><span class="input-group-text" id="basic-addon"><span id="search-icon" class="fas fa-search"></span></span>
        </div>
      </div>
    </div>
  </div>
  {% endcomment %}
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-6 col-lg-6">
        <div class="row mb-5">
          <script>
            $(function () {
              $("#btn-add-new-dir").click(function () {
                //var modal = $("#new-dir-modal").html();
                var absPath = $("#absolute-path-1").html();
                //var parent = $("#parent-id").html();
                var index = $("#index-code").html();
                if (absPath == "") {
                  alert("یک دایرکتوری را انتخاب نمائید!");
                } else if (parseInt(index) > -1) {
                  alert("دسترسی ایجاد دایرکتوری در این مسیر را ندارید!");
                } /*else if (parseInt(index) <= -2) {
                  alert("در حال حاضر امکان ایجاد دایرکتوری در این مسیر را ندارید!\nلطفاً با مدیر سیستم (29985700) تماس بگیرید.");
                }*/ else {
                  $("#new-dir-modal").modal("show");
                }
              });

              $("#btn-delete-dir").click(function () {
                var access = "{{ access }}";
                var absPath = $("#absolute-path-2").html();
                var index = $("#index-code").html();
                if (absPath == "") {
                  alert("یک دایرکتوری را انتخاب نمائید!");
                } else if (access != "ADMIN") {
                  if (parseInt(index) > -2) {
                    alert("دسترسی حذف این دایرکتوری را ندارید!");
                  } else {
                    $("#delete-modal").modal("show");
                  }
                } else {
                  $("#delete-modal").modal("show");
                }
              });

              $("#subDirPermCheck").change(function () {
                var absPath = $("#absolute-path-2").html();
                if (absPath == "") {
                  alert("یک دایرکتوری را انتخاب نمائید!");
                  $("#subDirPermCheck").prop("checked", false);
                } else {
                  if (this.checked) {
                    $("#confirm-modal").modal("show");
                  }
                }
              });

              $(":input[type='checkbox']").change(function () {
                var absPath = $("#absolute-path-1").html();
                var index = $("#index-code").html();
                if (absPath == "") {
                  alert("یک دایرکتوری را انتخاب نمائید!");
                } else if (parseInt(index) > -3) {
                  alert("دسترسی تغییر Permission این دایرکتوری را ندارید!");
                  var uid = document.getElementById("current-user-id").innerHTML;
                  getPermissions(uid);
                } else {
                  var did = $("#current-dir-id").html();
                  var user_id = $("#current-user-id").html();
                  var csrf = "{{ csrf_token }}";
                  var permissions = "";
                  var action = "remove";
                  permissions += this.value + ",";
                  if (this.checked) {
                    action = "add";
                    if (this.id != "subDirPermCheck") {
                      $.post(
                        "/mftuser/" + user_id + "/permission/" + did + "/",
                        {
                          permissions: permissions,
                          action: action,
                          csrfmiddlewaretoken: csrf,
                        },
                        function (response) {
                          console.log(response.result);
                          if (response.result == "error") {
                            console.log(response.result);
                          }
                        }
                      );
                    }
                  } else {
                    $.post(
                      "/mftuser/" + user_id + "/permission/" + did + "/",
                      {
                        permissions: permissions,
                        action: action,
                        csrfmiddlewaretoken: csrf,
                      },
                      function (response) {
                        if (response.result == "error") {
                          console.log(response.result);
                        }
                      }
                    );
                  }
                }
                return false;
              });
            });
          </script>
          <p><span class="h5 text-danger" style="font-weight: 400" id="current-dir-name"></span> : دایرکتوری انتخاب شده</p>
          <div style="display: none">
            <p id="current-dir-id"></p>
            <p id="parent-id"></p>
            <p id="index-code"></p>
          </div>
          <!--Directories-->
          <div style="overflow-y: scroll; height: 400px">
            <ul id="replaceable-content" role="tree" aria-labelledby="tree_label">
              {% include "includes/directory-list.html" %}
            </ul>
          </div>
          <!--End of Directories-->
        </div>
      </div>
      <div class="col-6 col-lg-6">
        {% comment %}
        <p>
          <label>Home Directory: <input id="home-dir" type="text" size="15" readonly="" value="{{ mftuser.home_dir }}" /></label>
        </p>
        {% endcomment %}
        <div style="direction: rtl">
          دسترسی های <strong class="h5 text-info">{{ mftuser.username }}</strong> در این مسیر
          <span id="confirmedByAdmin" style="display: none" class="h5 text-success"> <span class="fa fa-check"></span> تأیید شده</span>
        </div>
        <div class="row mt-3">
          <div class="col">
            {% if access == 'ADMIN' %}
            <legend class="h6">General</legend>
            {% endif %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="1" id="readPermCheck" />
              <label style="font-size: 0.85rem" class="form-check-label" for="readPermCheck"> Download (دانلود فایل) </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="2" id="writePermCheck" />
              <label style="font-size: 0.85rem" class="form-check-label" for="writePermCheck"> Upload (آپلود فایل) </label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="32" id="deleteFilesPermCheck" />
              <label style="font-size: 0.85rem" class="form-check-label" for="deleteFilesPermCheck"> Modify (تغییر/حذف فایل) </label>
            </div>
            {% if access != 'ADMIN' %} {% comment %} {% if access == 'OPERATION' %} {% endcomment %}
            <div class="form-check">
              <input class="form-check-input" type="checkbox" value="0" id="subDirPermCheck" />
              <label style="font-size: 0.85rem" class="form-check-label" for="subDirPermCheck"> Create Folder (ایجاد پوشه) </label>
            </div>
            {% comment %} {% endif %} {% endcomment %}
            <div style="display: none">
              {% endif %}
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="256" id="listPermCheck" />
                <label style="font-size: 0.85rem" class="form-check-label" for="listPermCheck"> List (مشاهده) </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="8" id="renameFilesPermCheck" />
                <label style="font-size: 0.85rem" class="form-check-label" for="renameFilesPermCheck"> Rename Files </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="512" id="overwritePermCheck" />
                <label style="font-size: 0.85rem" class="form-check-label" for="overwritePermCheck"> Overwrite </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="1024" id="appendPermCheck" />
                <label style="font-size: 0.85rem" class="form-check-label" for="appendPermCheck"> Append </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="128" id="checksumPermCheck" />
                <label style="font-size: 0.85rem" class="form-check-label" for="checksumPermCheck"> Checksum </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4096" id="shareFilesPermCheck" />
                <label style="font-size: 0.85rem" class="form-check-label" for="shareFilesPermCheck"> Share Files </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="0" id="applySubPermCheck" />
                <label style="font-size: 0.85rem" class="form-check-label" for="applySubPermCheck"> Apply To Subdirectories </label>
              </div>
              {% if access != 'ADMIN' %}
            </div>
            {% endif %}
          </div>
          <div class="col">
            {% if access != 'ADMIN' %}
            <div style="display: none">
              {% endif %}
              <legend class="h6">Subdirectories</legend>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="4" id="createPermCheck" />
                <label style="font-size: 0.85rem" class="form-check-label" for="createPermCheck"> Create </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="16" id="renamePermCheck" />
                <label style="font-size: 0.85rem" class="form-check-label" for="renamePermCheck"> Rename </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="64" id="deletePermCheck" />
                <label style="font-size: 0.85rem" class="form-check-label" for="deletePermCheck"> Delete </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="checkbox" value="2048" id="sharePermCheck" />
                <label style="font-size: 0.85rem" class="form-check-label" for="sharePermCheck"> Share </label>
              </div>
              {% if access != 'ADMIN' %}
              <div style="display: none">{% endif %}</div>
            </div>
            <div class="form-check row mt-4">
              {% comment %}
              <button id="btn-change-permission" aria-label="تغییر دسترسی ها" title="تغییر دسترسی ها" class="btn btn-sm btn-warning" name="Change">
                بروزرسانی دسترسی ها
              </button>
              {% endcomment %}
              <script>
                $(function () {
                  $("#btn-change-permission").click(function () {
                    var absPath = $("#absolute-path-1").html();
                    var index = $("#index-code").html();
                    if (absPath == "") {
                      alert("یک دایرکتوری را انتخاب نمائید!");
                    } else if (parseInt(index) > -3) {
                      alert("دسترسی تغییر Permission این دایرکتوری را ندارید!");
                      var uid = document.getElementById("current-user-id").innerHTML;
                      getPermissions(uid);
                    } else {
                      $("#permission-modal").modal("show");
                    }
                  });

                  $(":button[btn-func='close']").click(function () {
                    $("#subDirPermCheck").prop("checked", false);
                  });

                  $(":button[btn-func='ok']").click(function () {
                    var did = $("#current-dir-id").html();
                    var user_id = $("#current-user-id").html();
                    var csrf = "{{ csrf_token }}";
                    var permissions = "";
                    var action = "add";
                    permissions += $("#applySubPermCheck").prop("value") + ",";
                    permissions += $("#createPermCheck").prop("value") + ",";
                    $.post(
                      "/mftuser/" + user_id + "/permission/" + did + "/",
                      {
                        permissions: permissions,
                        action: action,
                        csrfmiddlewaretoken: csrf,
                      },
                      function (response) {
                        console.log(response.result);
                        if (response.result == "error") {
                          console.log(response.result);
                        }
                      }
                    );
                  });
                });
              </script>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col md-2">
            <div class="modal fade" id="new-dir-modal" role="dialog" aria-labelledby="dir-modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="direction: rtl">
                  <div class="modal-header">
                    <h2 class="h6 modal-title">افزودن دایرکتوری جدید در این مسیر</h2>
                    <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="direction: ltr">
                    <p id="absolute-path-1"></p>
                    <div class="input-group mb-3">
                      <input
                        id="name-input"
                        type="text"
                        class="form-control"
                        placeholder="Directory"
                        aria-label="Directory"
                        aria-describedby="dir-name-input"
                      />
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button id="add-new-dir" type="button" class="btn btn-secondary ms-auto">افزودن</button>
                    <button type="button" class="btn btn-link ms-0" data-bs-dismiss="modal">انصراف</button>
                    <script type="text/javascript">
                      var nameInput = document.getElementById("name-input");
                      nameInput.addEventListener("change", function (event) {
                        var n = cleanInputValue(event.currentTarget.value, "name");
                        event.currentTarget.value = n;
                      });

                      $(function () {
                        $("#add-new-dir").click(function () {
                          var new_dir_name = $("#name-input").val();
                          var parent_id = $("#parent-id").html();
                          var did = $("#current-dir-id").html();
                          var user_id = $("#current-user-id").html();
                          var csrf = "{{ csrf_token }}";
                          if ($.trim(new_dir_name) != "") {
                            $.post(
                              "/mftuser/" + user_id + "/directories/" + did + "/" + $.trim(new_dir_name) + "/",
                              {
                                csrfmiddlewaretoken: csrf,
                              },
                              function (response) {
                                var pid = $("#parent-id").html();
                                if (response.result == "success") {
                                  $("#new-dir-modal").modal("hide");
                                  var parent = document.getElementById("group-" + response.new_dir.parent);
                                  var ps = parent.getElementsByTagName("p");
                                  if (ps[0] != null) {
                                    ps[0].remove();
                                  }
                                  //if (parent.lastChild.tagName != "li") {
                                  var new_dir_li = document.createElement("li");
                                  new_dir_li.setAttribute("id", "treeitem-" + response.new_dir.id);
                                  new_dir_li.setAttribute("function", "user-view");
                                  new_dir_li.setAttribute("role", "treeitem");
                                  new_dir_li.setAttribute("aria-expanded", "false");
                                  new_dir_li.setAttribute("indexcode", response.new_dir.index_code);
                                  new_dir_li.setAttribute("absolute-path", response.new_dir.relative_path);
                                  new_dir_li.setAttribute("parent-id", response.new_dir.parent);
                                  new_dir_li.setAttribute("current-dir-id", response.new_dir.id);
                                  new_dir_li.setAttribute("current-dir-name", response.new_dir.name);

                                  var new_dir_span = document.createElement("span");
                                  new_dir_span.innerHTML = response.new_dir.name;

                                  var new_dir_ul = document.createElement("ul");
                                  new_dir_ul.setAttribute("id", "group-" + response.new_dir.id);
                                  new_dir_ul.setAttribute("role", "group");

                                  var new_dir_p = document.createElement("p");
                                  new_dir_p.setAttribute("style", "width: 200px");
                                  new_dir_p.innerHTML = "No directory found";

                                  new_dir_li.appendChild(new_dir_span);
                                  new_dir_li.appendChild(new_dir_ul);
                                  new_dir_ul.appendChild(new_dir_p);
                                  //parent.innerHTML = "";
                                  parent.appendChild(new_dir_li);

                                  var t = new Tree(new_dir_li);
                                  //t.init();
                                  //t.addNewTreeitem();
                                  ti = new Treeitem(new_dir_li, t, false);
                                  ti.init();
                                  t.treeitems.push(ti);
                                  t.firstChars.push(ti.label.substring(0, 1).toLowerCase());

                                  new_dir_li.addEventListener("click", function (event) {
                                    /*var appendPermCheck = document.getElementById("appendPermCheck");
                                    var writePermCheck = document.getElementById("writePermCheck");
                                    var readPermCheck = document.getElementById("readPermCheck");
                                    var overwritePermCheck = document.getElementById("overwritePermCheck");
                                    var listPermCheck = document.getElementById("listPermCheck");
                                    var renameFilesPermCheck = document.getElementById("renameFilesPermCheck");
                                    var deleteFilesPermCheck = document.getElementById("deleteFilesPermCheck");
                                    var checksumPermCheck = document.getElementById("checksumPermCheck");
                                    var shareFilesPermCheck = document.getElementById("shareFilesPermCheck");
                                    var createPermCheck = document.getElementById("createPermCheck");
                                    var renamePermCheck = document.getElementById("renamePermCheck");
                                    var deletePermCheck = document.getElementById("deletePermCheck");
                                    var sharePermCheck = document.getElementById("sharePermCheck");
                                    var applySubPermCheck = document.getElementById("applySubPermCheck");
                                    var confirmedByAdmin = document.getElementById("confirmedByAdmin");*/

                                    var absolutePath1 = document.getElementById("absolute-path-1");
                                    var absolutePath2 = document.getElementById("absolute-path-2");
                                    var parentId = document.getElementById("parent-id");
                                    var currentDirId = document.getElementById("current-dir-id");
                                    var currentDirName = document.getElementById("current-dir-name");
                                    var indexCode = document.getElementById("index-code");
                                    var subDirPermCheck = document.getElementById("subDirPermCheck");

                                    var treeitem = event.currentTarget;
                                    var uid = document.getElementById("current-user-id").innerHTML;
                                    var did = treeitem.getAttribute("current-dir-id");
                                    var dname = treeitem.getAttribute("current-dir-name");
                                    var path = treeitem.getAttribute("absolute-path");
                                    var pid = treeitem.getAttribute("parent-id");
                                    var index = treeitem.getAttribute("indexcode");
                                    currentDirId.innerHTML = did;
                                    currentDirName.innerHTML = dname;
                                    parentId.innerHTML = pid;
                                    indexCode.innerHTML = index;
                                    if (subDirPermCheck) {
                                      if (index < -2) {
                                        subDirPermCheck.disabled = false;
                                      } else {
                                        subDirPermCheck.disabled = true;
                                      }
                                    }
                                    absolutePath1.innerHTML = path + '/{<span class="text-danger">NEW</span>}';
                                    absolutePath2.innerHTML = path;
                                    getPermissions(uid);

                                    event.stopPropagation();
                                    event.preventDefault();
                                  });
                                  /*} else {
                                    location.reload();
                                  }*/
                                } else if (response.result == "error") {
                                  alert(response.message);
                                }
                              }
                            );
                          } else {
                            alert("نام دایرکتوری را وارد کنید!");
                          }
                          return false;
                        });
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="permission-modal" role="dialog" aria-labelledby="perm-modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="direction: rtl">
                  <div class="modal-header">
                    <h2 class="h6 modal-title">تغییر دسترسی کاربر</h2>
                    <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="direction: rtl">
                    <p>آیا از اختصاص این دسترسی ها اطمینان دارید؟</p>
                  </div>
                  <div class="modal-footer">
                    <button id="confirm-button" type="button" class="btn btn-secondary ms-auto">بله</button>
                    <button type="button" class="btn btn-link ms-0" data-bs-dismiss="modal">خیر</button>
                    <script type="text/javascript">
                      $(function () {
                        $("#confirm-button").click(function () {
                          var did = $("#current-dir-id").html();
                          var user_id = $("#current-user-id").html();
                          var csrf = "{{ csrf_token }}";
                          var permissions = "";
                          if ($("#appendPermCheck").prop("checked")) {
                            permissions += $("#appendPermCheck").prop("value") + ",";
                          }
                          if ($("#writePermCheck").prop("checked")) {
                            permissions += $("#writePermCheck").prop("value") + ",";
                          }
                          if ($("#readPermCheck").prop("checked")) {
                            permissions += $("#readPermCheck").prop("value") + ",";
                          }
                          if ($("#overwritePermCheck").prop("checked")) {
                            permissions += $("#overwritePermCheck").prop("value") + ",";
                          }
                          if ($("#listPermCheck").prop("checked")) {
                            permissions += $("#listPermCheck").prop("value") + ",";
                          }
                          if ($("#renameFilesPermCheck").prop("checked")) {
                            permissions += $("#renameFilesPermCheck").prop("value") + ",";
                          }
                          if ($("#deleteFilesPermCheck").prop("checked")) {
                            permissions += $("#deleteFilesPermCheck").prop("value") + ",";
                          }
                          if ($("#checksumPermCheck").prop("checked")) {
                            permissions += $("#checksumPermCheck").prop("value") + ",";
                          }
                          if ($("#shareFilesPermCheck").prop("checked")) {
                            permissions += $("#shareFilesPermCheck").prop("value") + ",";
                          }
                          if ($("#subDirPermCheck").length) {
                            if ($("#subDirPermCheck").prop("checked")) {
                              permissions += $("#applySubPermCheck").prop("value") + ",";
                              permissions += $("#createPermCheck").prop("value") + ",";
                              //permissions += $("#renamePermCheck").prop("value") + ",";
                              //permissions += $("#deletePermCheck").prop("value") + ",";
                            }
                          } else {
                            if ($("#applySubPermCheck").prop("checked")) {
                              permissions += $("#applySubPermCheck").prop("value") + ",";
                            }
                            if ($("#createPermCheck").prop("checked")) {
                              permissions += $("#createPermCheck").prop("value") + ",";
                            }
                            if ($("#renamePermCheck").prop("checked")) {
                              permissions += $("#renamePermCheck").prop("value") + ",";
                            }
                            if ($("#deletePermCheck").prop("checked")) {
                              permissions += $("#deletePermCheck").prop("value") + ",";
                            }
                            if ($("#sharePermCheck").prop("checked")) {
                              permissions += $("#sharePermCheck").prop("value") + ",";
                            }
                          }
                          $.post(
                            "/mftuser/" + user_id + "/permissions/" + did + "/",
                            {
                              permissions: permissions,
                              csrfmiddlewaretoken: csrf,
                            },
                            function (response) {
                              $("#permission-modal").modal("hide");
                              console.log(response.result);
                              if (response.result == "success") {
                                //console.log(response.result);
                                var uid = $("#current-user-id").html();
                                getPermissions(uid);
                              } else if (response.result == "error") {
                                /*var perms = response.perms.split(",");
                                perms.forEach((perm) => {
                                  if (perm == 1024) {
                                    // Append
                                    $("#appendPermCheck").prop("checked", true);
                                  } else if (perm == 2) {
                                    // Upload (Write)
                                    $("#writePermCheck").prop("checked", true);
                                  } else if (perm == 1) {
                                    // Download (Read)
                                    $("#readPermCheck").prop("checked", true);
                                  } else if (perm == 512) {
                                    // Overwrit
                                    $("#overwritePermCheck").prop("checked", true);
                                  } else if (perm == 256) {
                                    // List
                                    $("#listPermCheck").prop("checked", true);
                                  } else if (perm == 8) {
                                    // Rename Files
                                    $("#renameFilesPermCheck").prop("checked", true);
                                  } else if (perm == 32) {
                                    // Delete Files
                                    $("#deleteFilesPermCheck").prop("checked", true);
                                  } else if (perm == 128) {
                                    // Checksum
                                    $("#checksumPermCheck").prop("checked", true);
                                  } else if (perm == 4096) {
                                    // Share File
                                    $("#shareFilesPermCheck").prop("checked", true);
                                  } else if (perm == 0) {
                                    // Apply To Subfolders
                                    $("#applySubPermCheck").prop("checked", true);
                                    if ($("#subDirPermCheck").length) {
                                      $("#subDirPermCheck").prop("checked", true);
                                    }
                                  } else if (perm == 4) {
                                    // Create
                                    $("#createPermCheck").prop("checked", true);
                                  } else if (perm == 16) {
                                    // Rename
                                    $("#renamePermCheck").prop("checked", true);
                                  } else if (perm == 64) {
                                    // Delete
                                    $("#deletePermCheck").prop("checked", true);
                                  } else if (perm == 2048) {
                                    // Share
                                    $("#sharePermCheck").prop("checked", true);
                                  }
                                });*/
                              }
                            }
                          );
                          return false;
                        });
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="delete-modal" role="dialog" aria-labelledby="del-modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="direction: rtl">
                  <div class="modal-header">
                    <h2 class="h6 modal-title">حذف دایرکتوری</h2>
                    <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="direction: rtl">
                    <p id="absolute-path-2" style="direction: ltr"></p>
                    <p>آیا از حذف این دایرکتوری اطمینان دارید؟</p>
                  </div>
                  <div class="modal-footer">
                    <button id="confirm-delete" type="button" class="btn btn-secondary ms-auto">بله</button>
                    <button type="button" class="btn btn-link ms-0" data-bs-dismiss="modal">خیر</button>
                    <script type="text/javascript">
                      $(function () {
                        $("#confirm-delete").click(function () {
                          var did = $("#current-dir-id").html();
                          var user_id = $("#current-user-id").html();
                          var csrf = "{{ csrf_token }}";
                          $.post(
                            "/directory/" + did + "/delete/",
                            {
                              csrfmiddlewaretoken: csrf,
                            },
                            function (response) {
                              $("#delete-modal").modal("hide");
                              if (response.result == "error") {
                                alert("خطایی رخ داده است، با مدیر سیستم تماس بگیرید.");
                              } else if (response.result == "success") {
                                //TODO: remove deleted dir from tree without reload
                                //location.reload();
                                var deleted = document.getElementById("treeitem-" + response.deleted_dir);
                                deleted.remove();
                                //alert("دایرکتوری حذف شد.");
                              } else if (response.result == "failed") {
                                alert("دسترسی پاک کردن این دایرکتوری را ندارید!");
                              }
                            }
                          );
                          return false;
                        });
                      });
                    </script>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="confirm-modal" role="dialog" aria-labelledby="confirm-modal" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content" style="direction: rtl">
                  <div class="modal-header">
                    <h2 class="h6 modal-title">اعطاء دسترسی ایجاد پوشه</h2>
                    <button type="button" class="btn-close ms-0" btn-func="close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body" style="direction: rtl">
                    <p id="absolute-path-2" style="direction: ltr"></p>
                    <p style="text-align: justify">
                      شما با این دسترسی به کاربر اجازه می دهید برای خود پوشه ایجاد نماید، پوشه هایی که توسط کاربر ایجاد می شود در پرتال قابل نمایش
                      نبوده و امکان اعمال دسترسی روی آن میسر نیست؛ لذا حتی الامکان این مورد برای ایجاد پوشه هایی با موضوعیت تاریخ و ... (به منظور دسته
                      بندی) فعال گردد. (همچنین این پوشه ها بعد از 7 روز پاک خواهد شد)
                    </p>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary ms-auto" btn-func="ok" data-bs-dismiss="modal">بله</button>
                    <button type="button" class="btn btn-link ms-0" btn-func="close" data-bs-dismiss="modal">خیر</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% comment %}
    <script type="text/javascript">
      const search_input = $("#search-input");
      const search_icon = $("#search-icon");
      const contents_list = $("#replaceable-content");
      const endpoint = window.location.pathname;
      const delay_by_in_ms = 700;
      var scheduled_function = false;

      var ajax_call = function (endpoint, request_parameters) {
        $.getJSON(endpoint, request_parameters).done((response) => {
          // fade out the users_list, then:
          contents_list
            .fadeTo("slow", 0)
            .promise()
            .then(() => {
              if (response["html_from_view"] != "") {
                // replace the HTML contents
                contents_list.html(response["html_from_view"]);
              } else {
                location.reload();
              }
              // fade-in the div with new contents
              contents_list.fadeTo("slow", 1);
              // stop animating search icon
              search_icon.removeClass("blink");
            });
        });
      };

      search_input.on("keyup", function () {
        const request_parameters = {
          q: $(this).val(), // value of search_input: the HTML element with ID search-input
        };

        // start animating the search icon with the CSS class
        search_icon.addClass("blink");

        // if scheduled_function is NOT false, cancel the execution of the function
        if (scheduled_function) {
          clearTimeout(scheduled_function);
        }

        // setTimeout returns the ID of the function to be executed
        scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters);
      });
    </script>
    {% endcomment %}
  </div>
</div>
