{% load coretags %} {% if invoices %} {% for invoice in invoices %} {% if invoice.invoice_type.code != 'INVDIR' %}
<!--Invoices in manage-view-->
<div class="col-10 mx-auto">
  <div class="accordion mb-2" id="inv-{{ invoice.id }}-parent" role-in-list="inv-container" invid="{{ invoice.id }}">
    <!--Invoice Node-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#{{ invoice.get_mftuser.username|remove_dot }}{{ invoice.id }}"
          aria-expanded="false"
          aria-controls="{{ invoice.get_mftuser.username|remove_dot }}{{ invoice.id }}"
        >
          <span
            class="fas fa-file-alt {% if invoice.confirm_or_reject == 'CONFIRMED' %}text-success{% elif invoice.confirm_or_reject == 'REJECTED' %}text-danger{% elif invoice.confirm_or_reject == 'UNDEFINED' %}text-warning{% endif %}"
          ></span>
          <!--prettier-ignore-->
          <div class="row">
            <div class="d-flex justify-content-center">
              <h5 style="direction: rtl">{% if invoice.confirm_or_reject == 'REJECTED' %}به علت <u>{{ invoice.description }}</u> رد شد.{% else %}{{ invoice.invoice_type }}{% endif %} - {{ invoice.created_by }} - {{ invoice.get_jalali_created_at }}</h5>
            </div>
            <div class="d-flex justify-content-center">
              <h5>SN: {{ invoice.serial_number }}</h5>
            </div>
          </div>
        </button>
      </h2>
      <div
        id="{{ invoice.get_mftuser.username|remove_dot }}{{ invoice.id }}"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#inv-{{ invoice.id }}-parent"
      >
        <div class="accordion-body">
          <div class="container">
            <div class="row">
              <div style="direction: rtl" class="row mt-5 mb-5">
                <span
                  >نام مستعار: <span class="display-6 text-info"><strong> {{ invoice.get_mftuser.alias }}</strong></span></span
                >
                <span
                  >نام: <span class="display-6 text-info"><strong> {{ invoice.get_mftuser.firstname }}</strong></span></span
                >
                <span
                  >نام خانوادگی: <span class="display-6 text-info"><strong> {{ invoice.get_mftuser.lastname }}</strong></span></span
                >
                <span
                  >سازمان/بانک: <span class="display-6 text-info"><strong> {{ invoice.get_mftuser.organization }}</strong></span></span
                >
                {% if invoice.invoice_type.code == 'INVUBUS' %}
                <span
                  >دسترسی در پروژه/سامانه: <span class="display-6 text-info"><strong>{{ invoice.get_used_business }}</strong></span></span
                >
                {% elif invoice.invoice_type.code == 'INVOBUS' %}
                <span
                  >پروژه/سامانه(ها)ی تحت اختیار:
                  <span class="display-6 text-info"><strong>{{ invoice.get_mftuser.business.all|get_businesses }}</strong></span></span
                >
                {% endif %}
                <span
                  >شماره تلفن همراه: <span class="display-6 text-info"><strong> {{ invoice.get_mftuser.mobilephone }}</strong></span></span
                >
                <span
                  >شماره تلفن محل کار: <span class="display-6 text-info"><strong> {{ invoice.get_mftuser.officephone }}</strong></span></span
                >
                <p class="h5 mt-4" style="direction: rtl">دسترسی بر روی مسیرها:</p>
                {% for access in invoice.get_list_of_permissions %}
                <span class="display-6 text-tertiary mb-2">({{ access.perms }}) بر روی {{ access.dir }}</span>
                {% endfor %}
              </div>
              <div class="row">
                {% if invoice.confirm_or_reject != 'CONFIRMED' %}
                <div class="col">
                  <input
                    type="button"
                    role="invoice-delete-btn"
                    iid="{{ invoice.id }}"
                    itype="{{ invoice.invoice_type.code }}"
                    style="width: 100%"
                    class="btn btn-danger animate-up-1"
                    value="حذف درخواست"
                  />
                </div>
                {% else %}
                <div class="col">
                  <input
                    type="button"
                    role="invoice-change-to-new-btn"
                    iid="{{ invoice.id }}"
                    itype="{{ invoice.invoice_type.code }}"
                    style="width: 100%"
                    class="btn btn-warning animate-up-1"
                    value="تبدیل به جدید"
                  />
                </div>
                {% endif %} {% if invoice.confirm_or_reject == 'UNDEFINED' %}
                <div class="col">
                  <input
                    type="button"
                    role="invoice-reject-btn"
                    iid="{{ invoice.id }}"
                    itype="{{ invoice.invoice_type.code }}"
                    style="width: 100%"
                    class="btn btn-warning animate-up-1 mb-3"
                    value="رد درخواست"
                  />
                </div>
                <div class="col">
                  <input
                    type="button"
                    role="invoice-confirm-btn"
                    iid="{{ invoice.id }}"
                    itype="{{ invoice.invoice_type.code }}"
                    style="width: 100%"
                    class="btn btn-info animate-up-1 mb-3"
                    value="تأیید درخواست"
                  />
                </div>
                {% endif %}
                <div class="col">
                  <a href="{% url 'invoice-details' invoice.id %}" style="width: 100%" class="btn btn-success animate-up-1">مشاهده جزئیات</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of Invoice Node-->
  </div>
</div>
<!--PreInvoices in manage-view-->
{% elif invoice.invoice_type.code == 'INVDIR' %}
<div class="col-10 mx-auto">
  <div class="accordion mb-2" id="preinv-{{ invoice.id }}-parent" role-in-list="pinv-container" invid="{{ invoice.id }}">
    <!--Invoice Node-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#preinv-{{ invoice.id }}"
          aria-expanded="false"
          aria-controls="preinv-{{ invoice.id }}"
        >
          <span
            class="fas fa-folder-open {% if invoice.confirm_or_reject == 'CONFIRMED' %}text-success{% elif invoice.confirm_or_reject == 'REJECTED' %}text-danger{% elif invoice.confirm_or_reject == 'UNDEFINED' %}text-warning{% endif %}"
          ></span>
          <!--prettier-ignore-->
          <div class="row">
            <div class="d-flex justify-content-center">
              <h5 style="direction: rtl">{% if invoice.confirm_or_reject == 'REJECTED' %}به علت <u>{{ invoice.description }}</u> رد شد.{% else %}{{ invoice.invoice_type }}{% endif %} - {{ invoice.created_by }} - {{ invoice.get_jalali_created_at }}</h5>
            </div>
            <div class="d-flex justify-content-center">
              <h5>SN: {{ invoice.serial_number }}</h5>
            </div>
          </div>
        </button>
      </h2>
      <div
        id="preinv-{{ invoice.id }}"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#preinv-{{ invoice.id }}-parent"
      >
        <div class="accordion-body">
          <div class="container">
            <div class="row mt-5 mb-5">
              <p class="h5" style="direction: rtl">مسیرهای ایجاد شده:</p>
              {% for dir in invoice.get_all_directories %}
              <span class="display-5 text-tertiary mb-2">{{ dir.relative_path|replace_slash }}</span>
              {% endfor %}
            </div>
            <div class="row">
              {% if invoice.confirm_or_reject != 'CONFIRMED' %}
              <div class="col">
                <input
                  type="button"
                  role="invoice-delete-btn"
                  iid="{{ invoice.id }}"
                  itype="{{ invoice.invoice_type.code }}"
                  style="width: 100%"
                  class="btn btn-danger animate-up-1"
                  value="حذف درخواست"
                />
              </div>
              {% endif %} {% if invoice.confirm_or_reject == 'UNDEFINED' %}
              <div class="col">
                <input
                  type="button"
                  role="invoice-reject-btn"
                  iid="{{ invoice.id }}"
                  itype="{{ invoice.invoice_type.code }}"
                  style="width: 100%"
                  class="btn btn-warning animate-up-1 mb-3"
                  value="رد درخواست"
                />
              </div>
              <div class="col">
                <input
                  type="button"
                  role="invoice-confirm-btn"
                  iid="{{ invoice.id }}"
                  itype="{{ invoice.invoice_type.code }}"
                  style="width: 100%"
                  class="btn btn-info animate-up-1 mb-3"
                  value="تأیید درخواست"
                />
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of Invoice Node-->
  </div>
</div>
{% endif %}{% endfor %}
<!--No new Invoice or PreInvoice Found-->
{% else %}
<h4>No invoice found</h4>
{% endif %}
