{% load coretags %}
<!--Invoices in invoices-list-->
{% if invoices %} {% for invoice in invoices %}
<div class="col-10 mx-auto">
  <div class="accordion mb-2" id="inv-{{ invoice.id }}-parent">
    <!--Invoice Node-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#{{ invoice.get_mftuser.username|remove_dot }}{{ invoice.id }}"
          aria-expanded="false"
          aria-controls="{{ invoice.get_mftuser.username|remove_dot }}{{ invoice.id }}"
        >
          <span
            class="fas fa-file-alt {% if invoice.confirm_or_reject == 'CONFIRMED' %}text-success{% elif invoice.confirm_or_reject == 'REJECTED' %}text-danger{% elif invoice.confirm_or_reject == 'UNDEFINED' %}text-warning{% endif %}"
          ></span>
          <!--prettier-ignore-->
          <h3 class="display-5 mx-auto" style="direction: rtl">{{ invoice.invoice_type }} - {% if invoice.confirm_or_reject == 'CONFIRMED' %}تأیید شده{% elif invoice.confirm_or_reject == 'REJECTED' %}به علت {{ invoice.description }} رد شد{% elif invoice.confirm_or_reject == 'UNDEFINED' %}بررسی نشده{% endif %}</h3>
        </button>
      </h2>
      <div
        id="{{ invoice.get_mftuser.username|remove_dot }}{{ invoice.id }}"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#inv-{{ invoice.id }}-parent"
      >
        <div class="accordion-body">
          <div class="container">
            <div class="row">
              <div style="direction: rtl" class="row mt-5 mb-5">
                <span
                  >نام مستعار: <span class="display-6 text-info"><strong> {{ invoice.get_mftuser.alias }}</strong></span></span
                >
                <span
                  >نام: <span class="display-6 text-info"><strong> {{ invoice.get_mftuser.firstname }}</strong></span></span
                >
                <span
                  >نام خانوادگی: <span class="display-6 text-info"><strong> {{ invoice.get_mftuser.lastname }}</strong></span></span
                >
                <span
                  >سازمان/بانک: <span class="display-6 text-info"><strong> {{ invoice.get_mftuser.organization }}</strong></span></span
                >
                {% if invoice.invoice_type.code == 'INVUBUS' %}
                <span
                  >دسترسی در پروژه/سامانه: <span class="display-6 text-info"><strong>{{ invoice.get_used_business }}</strong></span></span
                >
                {% elif invoice.invoice_type.code == 'INVOBUS' %}
                <span
                  >پروژه/سامانه(ها)ی تحت اختیار:
                  <span class="display-6 text-info"><strong>{{ invoice.get_mftuser.business.all|get_businesses }}</strong></span></span
                >
                {% endif %}
                <span
                  >شماره تلفن همراه: <span class="display-6 text-info"><strong> {{ invoice.get_mftuser.mobilephone }}</strong></span></span
                >
                <span
                  >شماره تلفن محل کار: <span class="display-6 text-info"><strong> {{ invoice.get_mftuser.officephone }}</strong></span></span
                >
              </div>
              {% if pre_invoice.confirm_or_reject != 'CONFIRMED' %}
              <div class="col-6">
                <input
                  type="button"
                  role="invoice-delete-btn"
                  iid="{{ invoice.id }}"
                  itype="{{ invoice.invoice_type.code }}"
                  style="width: 100%"
                  class="btn btn-danger animate-up-1"
                  value="حذف درخواست"
                />
                {% comment %}<a href="{% url 'invoice-delete' invoice.id %}" class="btn btn-danger animate-up-1"></a>{% endcomment %}
              </div>
              {% endif %}
              <div class="col-6">
                <a href="{% url 'invoice-details' invoice.id %}" style="width: 100%" class="btn btn-warning animate-up-1"
                  >مشاهده سطح دسترسی درخواست شده</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of Invoice Node-->
  </div>
</div>
{% endfor %}{% endif %}
<!--PreInvoices in invoices-list-->
{% if pre_invoices %} {% for pre_invoice in pre_invoices %}
<div class="col-10 mx-auto">
  <div class="accordion mb-2" id="preinv-{{ pre_invoice.id }}-parent">
    <!--Invoice Node-->
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingOne">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#preinv-{{ pre_invoice.id }}"
          aria-expanded="false"
          aria-controls="preinv-{{ pre_invoice.id }}"
        >
          <span
            class="fas fa-folder-open {% if pre_invoice.confirm_or_reject == 'CONFIRMED' %}text-success{% elif pre_invoice.confirm_or_reject == 'REJECTED' %}text-danger{% elif pre_invoice.confirm_or_reject == 'UNDEFINED' %}text-warning{% endif %}"
          ></span>
          <!--prettier-ignore-->
          <h3 class="display-5 mx-auto" style="direction: rtl">{{ pre_invoice.invoice_type }} - {% if pre_invoice.confirm_or_reject == 'CONFIRMED' %}تأیید شده{% elif pre_invoice.confirm_or_reject == 'REJECTED' %}به علت <u>{{ pre_invoice.description }}</u> رد شد{% elif pre_invoice.confirm_or_reject == 'UNDEFINED' %}بررسی نشده{% endif %}</h3>
        </button>
      </h2>
      <div
        id="preinv-{{ pre_invoice.id }}"
        class="accordion-collapse collapse"
        aria-labelledby="headingOne"
        data-bs-parent="#preinv-{{ pre_invoice.id }}-parent"
      >
        <div class="accordion-body">
          <div class="container">
            <div class="row mt-5 mb-5">
              <p class="h5" style="direction: rtl">مسیرهای ایجاد شده:</p>
              {% for dir in pre_invoice.get_all_directories %}
              <span class="display-5 text-tertiary mb-2">{{ dir.relative_path|replace_slash }}</span>
              {% endfor %}
            </div>
            <div class="col">
              <input
                type="button"
                role="invoice-delete-btn"
                iid="{{ pre_invoice.id }}"
                itype="{{ pre_invoice.invoice_type.code }}"
                style="width: 100%"
                class="btn btn-danger animate-up-1"
                value="حذف درخواست"
              />
              {% comment %}<a href="{% url 'invoice-delete' pre_invoice.id %}" class="btn btn-danger animate-up-1"></a>{% endcomment %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <!--End of Invoice Node-->
  </div>
</div>
{% endfor %}{% endif %}
<!--No Invoice or PreInvoice Found-->
{% if not invoices and not pre_invoices %}
<h4>No invoice found</h4>
{% endif %}
