{% extends "layouts/base-fullscreen.html" %} {% block title %} ایجاد کاربر {% endblock %} {% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<main>
  {% comment %} {% include 'includes/preloader.html' %} {% endcomment %}

  <!-- Section -->
  <section
    class="min-vh-100 d-flex align-items-center overlay-soft-dark"
    style="background-image: url('/static/assets/img/bg.png'); background-repeat: no-repeat; background-size: 100% 100%"
  >
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-600">
            <div class="text-center text-md-center mb-4 mt-md-0" style="direction: rtl">
              <h1 class="mb-0 h3">فرم ایجاد کاربر جدید</h1>
              <br />
              <span class="font-weight-normal"> {% if msg %} {{ msg | safe }} {% endif %} </span>
            </div>
            {% if not success %}
            <div style="direction: rtl" class="col">
              <p class="text-danger" style="font-size: 0.7rem"><strong>* وارد نمودن تمامی موارد ستاره دار الزامی است</strong></p>
              <p class="text-danger" style="font-size: 0.7rem"><strong>* نام کاربری</strong> را همان نام کاربری دامین ایرانت وارد نمائید</p>
              <p class="text-danger" style="font-size: 0.7rem"><strong>* ایمیل</strong> را همان ایمیل دامین ایرانت وارد نمائید</p>
              <p class="text-danger" style="font-size: 0.7rem">
                <strong>* کلمه عبور </strong> حداقل در 8 کاراکتر و ترجیحاً ترکیب حروف و اعداد و ... باشد
              </p>
              <p class="text-danger" style="font-size: 0.7rem"><strong>* تلفن محل کار </strong> بدون پیش شماره و به طور کامل (هشت رقم) وارد شود</p>
              <p class="text-danger" style="font-size: 0.7rem">
                <strong>* تلفن همراه </strong> در ده رقم بدون صفر و یا به طور کامل (یازده رقم) وارد شود
              </p>
              <p class="text-danger" style="font-size: 0.7rem"><strong>* سامانه</strong> همان نام پروژه یا بیزینس که به تبادل فایل نیاز دارد</p>
              <p class="text-danger" style="font-size: 0.7rem"><strong>* سازمان</strong> همان نام بانک یا سازمانی که به تبادل فایل نیاز دارد</p>
            </div>
            <form class="mt-5" method="POST" action="" id="iscuser-form">
              {% csrf_token %}
              <div class="form-group mb-4" style="direction: rtl">
                <label for="firstname"
                  >نام <sup class="text-danger"><strong>*</strong></sup></label
                >
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="firstname"><span class="fas fa-address-book"></span></span>
                  {{ form.firstname }}
                </div>
              </div>
              <div class="form-group mb-4" style="direction: rtl">
                <label for="lastname"
                  >نام خانوادگی <sup class="text-danger"><strong>*</strong></sup></label
                >
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="lastname"><span class="fas fa-address-book"></span></span>
                  {{ form.lastname }}
                </div>
              </div>
              <div class="form-group mb-4" style="direction: rtl">
                <label for="username"
                  >نام کاربری <sup class="text-danger"><strong>*</strong></sup></label
                >
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="username"><span class="fas fa-user"></span></span>
                  {{ form.username }}
                </div>
              </div>
              <div class="form-group mb-4" style="direction: rtl">
                <label for="email"
                  >آدرس ایمیل <sup class="text-danger"><strong>*</strong></sup></label
                >
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="email"><span class="fas fa-envelope"></span></span>
                  {{ form.email }}
                </div>
              </div>
              <div class="form-group mb-4" style="direction: rtl">
                <label for="password"
                  >کلمه عبور <sup class="text-danger"><strong>*</strong></sup></label
                >
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="basic-addon2"><span class="fas fa-unlock-alt"></span></span>
                  {{ form.password }}
                </div>
              </div>
              <div class="form-group mb-4" style="direction: rtl">
                <label for="officephone"
                  >تلفن دفتر کار <sup class="text-danger"><strong>*</strong></sup></label
                >
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="officephone"><span class="fas fa-phone"></span></span>
                  {{ form.officephone }}
                </div>
              </div>
              <div class="form-group mb-4" style="direction: rtl">
                <label for="mobilephone"
                  >شماره تلفن همراه <sup class="text-danger"><strong>*</strong></sup></label
                >
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="mobilephone"><span class="fas fa-mobile"></span></span>
                  {{ form.mobilephone }}
                </div>
              </div>
              <div class="form-group mb-4" style="direction: rtl">
                <label for="department"
                  >گروه/دپارتمان <sup class="text-danger"><strong>*</strong></sup></label
                >
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="department"><span class="fas fa-building"></span></span>
                  {{ form.department }}
                </div>
              </div>
              <div id="business-parent" class="form-group mb-4" style="display: none; direction: rtl">
                <label for="business"
                  >سامانه/پروژه های تحت اختیار <sup class="text-danger"><strong>*</strong></sup></label
                >
                <p>
                  <span style="font-size: 0.7rem">با نگهداشتن کلید CTRL می توانید چند سامانه را انتخاب نمایید</span>
                </p>
                <div class="input-group mb-2">
                  <input
                    type="text"
                    class="form-control"
                    style="text-align: right; direction: rtl"
                    id="business-search-input"
                    placeholder="جستجو در بین پروژه/سامانه ها"
                    aria-label="Search"
                    aria-describedby="basic-addon"
                  />
                </div>
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="business"><span class="fas fa-sitemap"></span></span>
                  {{ form.business }}
                </div>
              </div>
              <div id="organization-parent" class="form-group mb-4" style="direction: rtl">
                <label for="organization"
                  >سازمان/بانک های تحت اختیار <sup class="text-danger"><strong>*</strong></sup></label
                >
                <p>
                  <span style="font-size: 0.7rem">با نگهداشتن کلید CTRL می توانید چند سازمان را انتخاب نمایید</span>
                </p>
                <div class="input-group mb-2">
                  <input
                    type="text"
                    class="form-control"
                    style="text-align: right; direction: rtl"
                    id="organization-search-input"
                    placeholder="جستجو در بین سازمان/بانک ها"
                    aria-label="Search"
                    aria-describedby="basic-addon"
                  />
                </div>
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="organization"><span class="fas fa-university"></span></span>
                  {{ form.organization }}
                </div>
              </div>
              <br />
              <div class="d-grid">
                <button type="submit" class="btn btn-primary">ایجاد کاربر</button>
              </div>
              <div class="d-grid mt-3">
                <input type="button" class="btn btn-success" value="بازگشت" onClick="goBack();" />
              </div>
            </form>
            {% else %}
            <div class="mt-4 text-sm text-center">
              <div class="d-grid mb-3">
                <a href="{% url 'login' %}" class="btn btn-info">رفتن به صفحه ورود</a>
              </div>
            </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script>
  $("#business-search-input").on("keyup", function () {
    var inp = $(this).val();
    if (inp !== "") {
      $("#id_business option").each(function () {
        var opt = $(this).html();
        if (opt.includes(inp)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    } else {
      $("#id_business option").each(function () {
        $(this).show();
      });
    }
  });

  $("#organization-search-input").on("keyup", function () {
    var inp = $(this).val();
    if (inp !== "") {
      $("#id_organization option").each(function () {
        var opt = $(this).html();
        if (opt.includes(inp)) {
          $(this).show();
        } else {
          $(this).hide();
        }
      });
    } else {
      $("#id_organization option").each(function () {
        $(this).show();
      });
    }
  });

  function goBack() {
    var url = "/";
    window.location = url;
  }

  var dept = document.getElementById("id_department");
  dept.addEventListener("change", function (event) {
    var url = `/register/?dept=${event.currentTarget.options[event.currentTarget.selectedIndex].value}`;
    fetch(url, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        "X-Requested-With": "XMLHttpRequest",
      },
    })
      .then((Result) => Result.json())
      .then((json) => {
        if (json["result"] == "success") {
          var access_type = json["type"];
          if (access_type == "OPERATION") {
            $("#organization-parent").hide();
            $("#business-parent").show();
          } else if (access_type == "CUSTOMER") {
            $("#business-parent").hide();
            $("#organization-parent").show();
          }
        } else if (json["result"] == "error") {
          console.log(json["message"]);
        }
      })
      .catch((errorMsg) => {
        console.log(errorMsg);
      });
  });

  /*var options = document.querySelectorAll("option");
  options.forEach((opt) => {
    if (opt.getAttribute("parent") == "department") {
      bic.appendChild(opt);
    } else if (opt.getAttribute("parent") == "business") {
      bus.appendChild(opt);
    }
  });*/

  var username = document.getElementById("id_username");
  username.addEventListener("change", function (event) {
    var uname = cleanInputValue(event.currentTarget.value, "name");
    event.currentTarget.value = uname;
  });

  var email = document.getElementById("id_email");
  email.addEventListener("change", function (event) {
    var mail = cleanInputValue(event.currentTarget.value, "email");
    event.currentTarget.value = mail;
  });

  var firstname = document.getElementById("id_firstname");
  firstname.addEventListener("change", function (event) {
    var first = cleanInputValue(event.currentTarget.value, "name");
    event.currentTarget.value = first;
  });

  var lastname = document.getElementById("id_lastname");
  lastname.addEventListener("change", function (event) {
    var last = cleanInputValue(event.currentTarget.value, "name");
    event.currentTarget.value = last;
  });

  var phone = document.getElementById("id_officephone");
  phone.addEventListener("change", function (event) {
    var ph = cleanInputValue(event.currentTarget.value, "number");
    event.currentTarget.value = ph;
  });

  var mobile = document.getElementById("id_mobilephone");
  mobile.addEventListener("change", function (event) {
    var mb = cleanInputValue(event.currentTarget.value, "number");
    event.currentTarget.value = mb;
  });

  function cleanInputValue(input, type) {
    if (type == "name" || type == "email") {
      input = input.replace(/[0-9]/g, "");
    }
    if (type == "number") {
      input = input.replace(/[a-z]/g, "");
      input = input.replace(/[A-Z]/g, "");
      input = input.replace(/\_/g, "");
    }
    if (type != "email") {
      input = input.replace(/\@/g, "");
      input = input.replace(/\./g, "");
    }
    input = input.replace(/[\u0600-\u06FF]/g, "");
    input = input.replace(/\s/g, "");
    input = input.replace(/\-/g, "");
    input = input.replace(/\#/g, "");
    input = input.replace(/\!/g, "");
    input = input.replace(/\$/g, "");
    input = input.replace(/\%/g, "");
    input = input.replace(/\^/g, "");
    input = input.replace(/\&/g, "");
    input = input.replace(/\*/g, "");
    input = input.replace(/\(/g, "");
    input = input.replace(/\)/g, "");
    input = input.replace(/\+/g, "");
    input = input.replace(/\=/g, "");
    input = input.replace(/\//g, "");
    input = input.replace(/\\/g, "");
    input = input.replace(/\|/g, "");
    input = input.replace(/\~/g, "");
    input = input.replace(/\'/g, "");
    input = input.replace(/\"/g, "");
    input = input.replace(/\,/g, "");
    input = input.replace(/\?/g, "");
    input = input.replace(/\;/g, "");
    input = input.replace(/\:/g, "");
    input = input.replace(/\>/g, "");
    input = input.replace(/\</g, "");
    return input;
  }
</script>
{% endblock javascripts %}
