{% extends "layouts/base-fullscreen.html" %} {% block title %} ریست کلمه عبور {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %}

<main>
  {% comment %} {% include 'includes/preloader.html' %} {% endcomment %}

  <!-- Section -->
  <section
    class="min-vh-100 d-flex align-items-center overlay-soft-dark"
    style="background-image: url('/static/assets/img/bg.png'); background-repeat: no-repeat; background-size: 100% 100%"
  >
    {% comment %} data-background="/static/assets/img/pages/form-image-1.jpg" {% endcomment %}
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-12 d-flex align-items-center justify-content-center">
          <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-gray-300 p-4 p-lg-5 w-100 fmxw-500">
            <div class="text-center text-md-center mb-4 mt-md-0" style="direction: rtl">
              <h1 class="mb-0 h4">فرم ریست کلمه عبور کاربران پرتال</h1>
              <br />
              <span class="font-weight-normal"> {% if msg %} {{ msg | safe }} {% endif %} </span>
            </div>
            {% if not success %}
            <form method="post" action="" class="mt-4">
              {% csrf_token %}
              <div class="form-group mb-4" style="direction: rtl">
                <label for="username">نام کاربری</label>
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="username"><span class="fas fa-unlock-alt"></span></span>
                  {{ form.username }}
                </div>
              </div>
              <div class="form-group mb-4" style="direction: rtl">
                <label for="new-password">کلمه عبور جدید</label>
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="new-password"><span class="fas fa-unlock-alt"></span></span>
                  {{ form.new_password }}
                </div>
              </div>
              <div class="form-group mb-4" style="direction: rtl">
                <label for="new-password">تکرار کلمه عبور</label>
                <div class="input-group" style="direction: ltr">
                  <span class="input-group-text" id="repeat-password"><span class="fas fa-unlock-alt"></span></span>
                  {{ form.repeat_password }}
                </div>
              </div>
              <div class="d-grid">
                <button type="submit" name="login" class="btn btn-primary">تغییر کلمه عبور</button>
              </div>
              <div class="d-grid mt-3">
                <input type="button" class="btn btn-success" value="بازگشت" onClick="javascript:history.go(-1);" />
              </div>
            </form>
            <br />{% else %}
            <div class="mt-4 text-sm text-center">
              <div class="d-grid">
                <a href="{% url 'dashboard' %}" class="btn btn-secondary">رفتن به داشبورد</a>
              </div>
            </div>
            {% endif %} {% comment %}
            <div class="d-flex justify-content-center align-items-center mt-4">
              <span class="fw-normal">
                &copy; ISC - developed by
                <a href="https://isc.co.ir" target="_blank" class="fw-bold text-underline">ISSO</a> group
              </span>
            </div>
            {% endcomment %}
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
