{% extends "layouts/base.html" %} {% block title %} داشبورد {% endblock %} {% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/css/tree.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />
{% endblock stylesheets %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
{% endblock javascripts %} {% block content %}

<main>
  <!-- Section Title -->
  <section class="section-header bg-secondary text-white" style="direction: rtl">
    <div class="container">
      <div class="row justify-content-center text-center">
        <h1 class="display-3 mb-6">داشبورد مدیریت کاربران و دسترسی های<br />سامانه یکپارچه تبادل اطلاعات (سیتا)</h1>
      </div>
    </div>
    <figure class="position-absolute bottom-0 left-0 w-100 d-none d-md-block mb-n2">
      <svg
        class="fill-white"
        version="1.1"
        xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink"
        x="0px"
        y="0px"
        viewBox="0 0 1920 43.4"
        style="enable-background: new 0 0 1920 43.4"
        xml:space="preserve"
      >
        <path d="M0,23.3c0,0,405.1-43.5,697.6,0c316.5,1.5,108.9-2.6,480.4-14.1c0,0,139-12.2,458.7,14.3 c0,0,67.8,19.2,283.3-22.7v35.1H0V23.3z"></path>
      </svg>
    </figure>
  </section>
  <!--End of section-->

  <!-- Section Statistics -->
  <div class="section section-lg">
    <div class="container">
      <div class="row align-items-center" style="direction: rtl">
        {% if access == 'ADMIN' %}
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-user-check text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                از اینجا می توانید<br />
                کاربران پرتال را مدیریت کنید
              </p>
              <div class="d-grid">
                <a href="{% url 'iscusers-list' %}" class="btn btn-primary animate-up-1"
                  >لیست کاربران پرتال <span class="ms-2"><span class="fas fa-arrow-left"></span></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-key text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                از اینجا می توانید<br />
                کلمه عبور کاربران را ریست کنید
              </p>
              <div class="d-grid">
                <a href="{% url 'reset-password' %}" class="btn btn-primary animate-up-1"
                  >ریست کلمه عبور <span class="ms-2"><span class="fas fa-arrow-left"></span></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-address-card text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                کاربر جدید ایجاد کنید و یا<br />
                اطلاعات کاربران قبلی را ویرایش نمائید
              </p>
              <div class="d-grid">
                <a href="{% url 'mftusers-create-or-change-list' %}" class="btn btn-primary animate-up-1"
                  >ایجاد/تغییر کاربر <span class="ms-2"><span class="fas fa-arrow-left"></span></span>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-users text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                اختصاص دسترسی به کاربران <br />
                در مسیرهای سیتا
              </p>
              <div class="d-grid">
                <a href="{% url 'mftusers-access-list' %}" class="btn btn-primary animate-up-1"
                  >ایجاد/تغییر سطح دسترسی <span class="ms-2"><span class="fas fa-arrow-left"></span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        {% comment %} {% if access != 'CUSTOMER' %} {% endcomment %}
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-exchange-alt text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                انتقال دسترسی های <br />
                یک کاربر به کاربر دیگر
              </p>
              <div class="d-grid">
                <a href="{% url 'transfer-permissions' %}" class="btn btn-primary animate-up-1"
                  >انتقال دسترسی ها <span class="ms-2"><span class="fas fa-arrow-left"></span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        {% comment %} {% endif %} {% endcomment %} {% if access != 'CUSTOMER' %}
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-folder text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                در ftp سیتا به تعداد مورد نیاز <br />
                دایرکتوری بسازید
              </p>
              <div class="d-grid">
                <a href="{% url 'directories-list' %}" class="btn btn-primary animate-up-1"
                  >ایجاد مسیر و پوشه <span class="ms-2"><span class="fas fa-arrow-left"></span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-user-cog text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                مشاهده مشخصات کاربری <br />
                و جزئیات دسترسی به سامانه/پروژه ها
              </p>
              <div class="d-grid">
                <a href="{% url 'iscuser-profile' %}" class="btn btn-primary animate-up-1"
                  >پروفایل کاربری <span class="ms-2"><span class="fas fa-arrow-left"></span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        {% if access != 'ADMIN' %}
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-clone text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                مشاهده درخواست ها <br />
                و فرم های چارگون
              </p>
              <div class="d-grid">
                <a href="{% url 'invoices-list' %}" class="btn btn-primary animate-up-1"
                  >لیست درخواست ها <span class="ms-2"><span class="fas fa-arrow-left"></span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        {% endif %} {% if access == 'ADMIN' %}
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-layer-group text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                لیست آخرین تغییرات اعمال شده<br />
                توسط کاربران را ببینید.
              </p>
              <div class="d-grid">
                <a href="{% url 'manage-data' %}" class="btn btn-primary animate-up-1"
                  >لیست آخرین تغییرات <span class="ms-2"><span class="fas fa-arrow-left"></span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-clone text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                لیست آخرین درخواست های<br />
                سامانه ستاد را ببینید.
              </p>
              <div class="d-grid">
                <a href="{% url 'setad-user-management' %}" class="btn btn-primary animate-up-1"
                  >لیست درخواست های ستاد <span class="ms-2"><span class="fas fa-arrow-left"></span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-file-export text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                اطلاعات را برای وارد کردن <br />
                به mft استخراج نمائید.
              </p>
              <div class="d-grid">
                <a href="{% url 'export-data' %}" class="btn btn-primary animate-up-1"
                  >استخراج اطلاعات <span class="ms-2"><span class="fas fa-arrow-left"></span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-plus-circle text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                اطلاعات پایه ای جدید را <br />
                وارد پرتال نمائید.
              </p>
              <div class="d-grid">
                <a href="{% url 'add-data' %}" class="btn btn-primary animate-up-1"
                  >افزودن سازمان/پروژه <span class="ms-2"><span class="fas fa-arrow-left"></span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fa fa-sticky-note text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                گزارش تعداد دایرکتوری <br />
                و تعداد کاربر در هر سامانه
              </p>
              <div class="d-grid">
                <a href="{% url 'generate-report' %}" class="btn btn-primary animate-up-1"
                  >تهیه گزارش <span class="ms-2"><span class="fas fa-arrow-left"></span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-4 text-center">
          <div class="card border-gray-300 mb-4">
            <div class="card-body py-5">
              <div class="icon icon-shape icon-lg">
                <span class="fas fa-user-lock text-tertiary" style="font-size: 5rem"></span>
              </div>
              <p class="card-text py-4 mb-0">
                پنل مدیریت <br />
                (فقط کاربران مجاز)
              </p>
              <div class="d-grid">
                <a href="/sita-admin/" class="btn btn-primary animate-up-1"
                  >رفتن به پنل مدیریت <span class="ms-2"><span class="fas fa-arrow-left"></span></span
                ></a>
              </div>
            </div>
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
  <!--End of section-->
</main>

{% include 'includes/footer.html' %} {% endblock content %}
