{% extends "layouts/base-fullscreen.html" %} {% block title %} خانه {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %} {% block javascripts %}{% endblock javascripts %}
<main>
  <div class="section section-sm bg-primary-app" style="height: 100%">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col text-center justify-content-center mb-4 mb-md-6">
          <h2 class="display-3 fw-bold">به پرتال سامانه سیتا خوش آمدید</h2>
          <h4 class="display-4 mt-6 mb-4 fw-bold">چه سامانه هایی نیاز به مهاجرت به سیتا2 خواهند داشت؟</h4>
          <p class="col-8 mx-auto lead" style="justify-content: center;direction: rtl">
            به طور کلی تمامی <strong class="text-danger">سامانه ها، پروژه ها و سرورهایی</strong>
            که تبادل فایل با <strong class="text-danger"> بانک ها، PSPها و بانک مرکزی</strong>
            (از طریق سامانه سیتا1 و یا سایر FTPهای داخلی) در <strong class="text-danger">شبکه عملیات</strong>
            دارند می بایست به سامانه سیتا2 مهاجرت نمایند. بنابراین جهت تبادل <strong class="text-danger">هرگونه</strong>
            فایلی که محصول یک سامانه و یا پروژه ایی در شرکت خدمات انفورماتیک باشد می بایست از سامانه سیتا2 استفاده شود.
            <br /><br /><strong class="text-danger"><u>نکته</u>:</strong> جهت تبادل فایل روزانه 
            داخلی کاربران، بین <u>کلاینت های</u> موجود در <strong class="text-danger">شبکه ایرانت</strong>
            و <u>کلاینت های</u> <strong class="text-danger">شبکه عملیات</strong> از 
            <a href="/media/documents/setad_user_guide.pdf"><strong class="text-success"><u>سامانه ستاد</u></strong></a> استفاده خواهد شد.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
            <span class="fas fa-sitemap text-tertiary"></span>
          </div>
          <h3 class="fw-bolder">{{ business_count }}</h3>
          <p class="text-gray">سامانه/پروژه</p>
        </div>
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
            <span class="fas fa-landmark text-tertiary"></span>
          </div>
          <h3 class="fw-bolder">{{ organizations_count }}</h3>
          <p class="text-gray">بانک/سازمان</p>
        </div>
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
            <span class="fas fa-users text-tertiary"></span>
          </div>
          <h3 class="fw-bolder">{{ users_count }}</h3>
          <p class="text-gray">کاربر</p>
        </div>
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
            <span class="fas fa-folder-open text-tertiary"></span>
          </div>
          <h3 class="fw-bolder">{{ directories_count }}</h3>
          <p class="text-gray">دایرکتوری</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-5 justify-content-center">
        <div class="col-2 mx-auto">
          <a href="/media/documents/sita2_user_guide.pdf" class="btn btn-info" style="width: 11rem; height: 6rem">
            <span class"text-white">مستند راهنمای<br/>FTP کاربران<br/> سامانه سیتا2</span>
          </a>
        </div>
        <div class="col-2 mx-auto">
          <a href="/media/documents/migration_document.pdf" class="btn btn-info" style="width: 11rem; height: 6rem">
          <span class"text-white">مستند مراحل<br/>مهاجرت به<br/>سامانه سیتا2</span>
        </a>
        </div>
        <div class="col-2 mx-auto">
          <a href="/media/documents/migration_flowchart.jpg" class="btn btn-info" style="width: 11rem; height: 6rem">
          <span class"text-white">فلوچارت نحوه<br/>مهاجرت به<br/>سامانه سیتا2</span>
        </a>
        </div>
        <div class="col-2 mx-auto">
          <a href="/media/documents/get_user_info.pdf" class="btn btn-info" style="width: 11rem; height: 6rem">
          <span class"text-white">دستور العمل دریافت<br/>اطلاعات از کاربر<br/>(ویژه مشتریان)</span>
        </a>
        </div>
        <div class="col-2 mx-auto">
          <a href="/media/documents/sita2_create_folder_instructions.pdf" class="btn btn-info" style="width: 11rem; height: 6rem">
          <span class"text-white">دستور العمل ایجاد<br/>مسیر/پوشه در سیتا<br/>(ویژه عملیات)</span>
        </a>
        </div>
        <div class="col-2 mx-auto">
          <a href="/media/documents/sita2_connections_guide.pdf" class="btn btn-info" style="width: 11rem; height: 6rem">
          <span class"text-white">مستند راهنمای<br/> اتصال به<br/> سامانه سیتا2</span>
        </a>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-8 justify-content-center">
        <div class="col-4 mx-auto">
          <a href="{% url 'login' %}" class="btn btn-warning" style="width: 20rem; height: 5rem"
            ><span style="font-size: 2rem">ورود به داشبورد</span></a
          >
        </div>
      </div>
    </div>
  </div>
</main>
{% include "includes/footer.html" %} {% endblock content %}
