{% extends "layouts/base-fullscreen.html" %} {% block title %} خانه {% endblock %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %} {% block content %} {% block javascripts %}{% endblock javascripts %}
<main>
  <div class="section section-sm bg-primary-app" style="height: 100%">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col text-center mb-4 mb-md-6">
          <h2 class="display-3 fw-bold">داشبورد مدیریت کاربران و دسترسی های سامانه سیتا</h2>
          <h4 class="display-4 mt-6 fw-bold">چه سامانه هایی نیاز به مهاجرت به سیتا2 خواهند داشت؟</h4>
          <p class="mt-4 lead" style="direction: rtl">
            به طور کلی تمامی <strong class="text-danger">سامانه ها، پروژه ها و سرورهایی</strong> که تبادل فایل با
            <strong class="text-danger"> بانک ها، PSPها و بانک مرکزی</strong><br />
            (از طریق سامانه سیتا1 و یا سایر FTPهای داخلی) در <strong class="text-danger">شبکه عملیات</strong> دارند می بایست به سامانه سیتا2
            <br />مهاجرت نمایند. بنابراین جهت تبادل <strong class="text-danger">هرگونه</strong> فایلی که محصول یک سامانه و یا پروژه ایی در <br />شرکت
            خدمات انفورماتیک باشد می بایست از سامانه سیتا2 استفاده شود.<br /><strong class="text-danger"><u>نکته</u>:</strong> جهت تبادل فایل روزانه
            داخلی کاربران، بین <u>کلاینت های</u> موجود در <strong class="text-danger">شبکه ایرانت</strong><br />
            و <u>کلاینت های</u> <strong class="text-danger">شبکه عملیات</strong> از <strong class="text-success">سامانه ستاد</strong> استفاده خواهد
            شد.
          </p>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
            <span class="fas fa-sitemap text-tertiary"></span>
          </div>
          <h3 class="fw-bolder">{{ business_count }}</h3>
          <p class="text-gray">سامانه/پروژه</p>
        </div>
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
            <span class="fas fa-landmark text-tertiary"></span>
          </div>
          <h3 class="fw-bolder">{{ organizations_count }}</h3>
          <p class="text-gray">بانک/سازمان</p>
        </div>
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
            <span class="fas fa-users text-tertiary"></span>
          </div>
          <h3 class="fw-bolder">{{ users_count }}</h3>
          <p class="text-gray">کاربر</p>
        </div>
        <div class="col-6 col-md-3 text-center mb-4">
          <div class="icon icon-shape icon-lg bg-white shadow-lg border-light rounded-circle mb-4">
            <span class="fas fa-folder-open text-tertiary"></span>
          </div>
          <h3 class="fw-bolder">{{ directories_count }}</h3>
          <p class="text-gray">دایرکتوری</p>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-5 justify-content-center">
        <div class="d-flex justify-content-center align-items-center mt-4">
          <div class="col-10 text-center text-info" style="direction: rtl">
            <a href="/media/documents/sita2_user_guide.pdf" class="fw-normal font-small mb-0">
              <h4 class"display-4"><u>مستند راهنمای کاربران سامانه سیتا2</u></h4>
            </a>
            <br />
            <a href="/media/documents/migration_document.pdf" class="fw-normal font-small mb-0">
              <h4 class"display-4"><u>مستند مراحل مهاجرت به سامانه سیتا2</u></h4>
            </a>
            <br />
            <a href="/media/documents/migration_flowchart.jpg" class="fw-normal font-small mb-0">
              <h4 class"display-4"><u>فلوچارت نحوه مهاجرت به سامانه سیتا2</u></h4>
            </a>
            <br />
            <a href="/media/documents/get_user_info.pdf" class="fw-normal font-small mb-0">
              <h4 class"display-4"><u>دستور العمل دریافت اطلاعات از کاربر</u></h4>
            </a>
            <br />
            <a href="/media/documents/sita2_addresses.pdf" class="fw-normal font-small mb-0">
              <h4 class"display-4"><u>آدرس های سامانه سیتا2</u></h4>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-6 justify-content-center">
        <div class="col-4 mx-auto">
          <a href="{% url 'login' %}" class="btn btn-warning" style="width: 20rem; height: 5rem"
            ><span style="font-size: 2rem">ورود به داشبورد</span></a
          >
        </div>
      </div>
    </div>
  </div>
</main>
{% include "includes/footer.html" %} {% endblock content %}
