{% extends "layouts/base.html" %} {% block title %} مدیریت اطلاعات {% endblock %} {% load static %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}
<link type="text/css" href="/static/assets/css/tree.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" />
{% endblock stylesheets %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}
<script src="{% static 'js/jquery-3.4.1.min.js' %}"></script>
<script type="text/javascript">
  function addTreeItemsFunctionality() {
    var treeitems = document.querySelectorAll('[role="treeitem"]');
    for (var i = 0; i < treeitems.length; i++) {
      treeitems[i].addEventListener("click", function (event) {
        var appendPermCheck = document.getElementById("appendPermCheck");
        var writePermCheck = document.getElementById("writePermCheck");
        var readPermCheck = document.getElementById("readPermCheck");
        var overwritePermCheck = document.getElementById("overwritePermCheck");
        var listPermCheck = document.getElementById("listPermCheck");
        var renameFilesPermCheck = document.getElementById("renameFilesPermCheck");
        var deleteFilesPermCheck = document.getElementById("deleteFilesPermCheck");
        var checksumPermCheck = document.getElementById("checksumPermCheck");
        var shareFilesPermCheck = document.getElementById("shareFilesPermCheck");
        var createPermCheck = document.getElementById("createPermCheck");
        var renamePermCheck = document.getElementById("renamePermCheck");
        var deletePermCheck = document.getElementById("deletePermCheck");
        var sharePermCheck = document.getElementById("sharePermCheck");
        var applySubPermCheck = document.getElementById("applySubPermCheck");
        var confirmedByAdmin = document.getElementById("confirmedByAdmin");

        var absolutePath1 = document.getElementById("absolute-path-1");
        var absolutePath2 = document.getElementById("absolute-path-2");
        var parentId = document.getElementById("parent-id");
        var currentDirId = document.getElementById("current-dir-id");
        var indexCode = document.getElementById("index-code");

        var treeitem = event.currentTarget;
        var uid = document.getElementById("current-user-id").innerHTML;
        var did = treeitem.getAttribute("current-dir-id");
        var path = treeitem.getAttribute("absolute-path");
        var pid = treeitem.getAttribute("parent-id");
        var index = treeitem.getAttribute("indexcode");
        currentDirId.innerHTML = did;
        parentId.innerHTML = pid;
        indexCode.innerHTML = index;
        absolutePath1.innerHTML = path + '/{<span class="text-danger">NEW</span>}';
        absolutePath2.innerHTML = path;
        getPermissions(uid);

        event.stopPropagation();
        event.preventDefault();
      });
    }
  }

  function getPermissions(uid) {
    var did = document.getElementById("current-dir-id").innerHTML;
    var currentUserId = document.getElementById("current-user-id");
    currentUserId.innerHTML = uid;

    var appendPermCheck = document.getElementById("appendPermCheck");
    var writePermCheck = document.getElementById("writePermCheck");
    var readPermCheck = document.getElementById("readPermCheck");
    var overwritePermCheck = document.getElementById("overwritePermCheck");
    var listPermCheck = document.getElementById("listPermCheck");
    var renameFilesPermCheck = document.getElementById("renameFilesPermCheck");
    var deleteFilesPermCheck = document.getElementById("deleteFilesPermCheck");
    var checksumPermCheck = document.getElementById("checksumPermCheck");
    var shareFilesPermCheck = document.getElementById("shareFilesPermCheck");
    var createPermCheck = document.getElementById("createPermCheck");
    var renamePermCheck = document.getElementById("renamePermCheck");
    var deletePermCheck = document.getElementById("deletePermCheck");
    var sharePermCheck = document.getElementById("sharePermCheck");
    var applySubPermCheck = document.getElementById("applySubPermCheck");
    var confirmedByAdmin = document.getElementById("confirmedByAdmin");

    var url = "/mftuser/" + uid + "/permissions/" + did + "/";
    fetch(url, {
      method: "GET",
      headers: {
        "Content-Type": "application/json",
        "X-Requested-With": "XMLHttpRequest",
      },
    })
      .then((Result) => Result.json())
      .then((string) => {
        appendPermCheck.checked = false;
        writePermCheck.checked = false;
        readPermCheck.checked = false;
        overwritePermCheck.checked = false;
        listPermCheck.checked = false;
        renameFilesPermCheck.checked = false;
        deleteFilesPermCheck.checked = false;
        checksumPermCheck.checked = false;
        shareFilesPermCheck.checked = false;
        sharePermCheck.checked = false;
        createPermCheck.checked = false;
        renamePermCheck.checked = false;
        deletePermCheck.checked = false;
        applySubPermCheck.checked = false;
        string.forEach((perm) => {
          if (perm.value == 1024) {
            // Append
            appendPermCheck.checked = true;
          } else if (perm.value == 2) {
            // Upload (Write)
            writePermCheck.checked = true;
          } else if (perm.value == 1) {
            // Download (Read)
            readPermCheck.checked = true;
          } else if (perm.value == 512) {
            // Overwrit
            overwritePermCheck.checked = true;
          } else if (perm.value == 256) {
            // List
            listPermCheck.checked = true;
          } else if (perm.value == 8) {
            // Rename Files
            renameFilesPermCheck.checked = true;
          } else if (perm.value == 32) {
            // Delete Files
            deleteFilesPermCheck.checked = true;
          } else if (perm.value == 128) {
            // Checksum
            checksumPermCheck.checked = true;
          } else if (perm.value == 4096) {
            // Share File
            shareFilesPermCheck.checked = true;
          } else if (perm.value == 4) {
            // Create
            createPermCheck.checked = true;
          } else if (perm.value == 16) {
            // Rename
            renamePermCheck.checked = true;
          } else if (perm.value == 64) {
            // Delete
            deletePermCheck.checked = true;
          } else if (perm.value == 2048) {
            // Share
            sharePermCheck.checked = true;
          } else if (perm.value == 0) {
            // Apply To Subfolders
            applySubPermCheck.checked = true;
          } else if (perm.value == "notconfirmed") {
            // hide confirmed label
            confirmedByAdmin.setAttribute("style", "display: none");
          } else if (perm.value == "isconfirmed") {
            // show confirmed label
            confirmedByAdmin.removeAttribute("style");
          }
        });
      })
      .catch((errorMsg) => {
        console.log(errorMsg);
      });
  }
</script>
<script type="text/javascript">
  $(function () {
    $("input[role='mftuser-confirm-btn']").click(function () {
      var uid = $(this).attr("uid");
      var csrf = "{{ csrf_token }}";
      $.post(
        "/entities/" + uid + "/confirm/",
        {
          csrfmiddlewaretoken: csrf,
          entity: "mftuser",
        },
        function (response) {
          if (response.result == "success") {
            document.getElementById(response.mftuser).remove();
            var btn = document.getElementById(response.id);
            if (btn != null) {
              btn.setAttribute("class", "btn btn-md btn-success mt-2");
            }
            if (response.confirmed) {
              alert("کاربر با موفقیت تأیید شد.");
            } else {
              alert("اطلاعات کاربر با موفقیت تأیید شد، لطفاً دسترسی های آن را تأیید کنید.");
            }
          } else if (response.result == "error") {
            alert("مشکلی پیش آمده است!");
          }
        }
      );
    });

    $("input[role='mftuser-dissmiss-changes-btn']").click(function () {
      var uid = $(this).attr("uid");
      var csrf = "{{ csrf_token }}";
      $.post(
        "/mftuser/" + uid + "/dismiss-changes/",
        {
          csrfmiddlewaretoken: csrf,
        },
        function (response) {
          if (response.result == "success") {
            document.getElementById(response.dismissed).remove();
            var btn = document.getElementById(response.id);
            if (btn != null) {
              btn.setAttribute("class", "btn btn-md btn-success mt-2");
            }
            alert("تغییرات کاربر تأیید نشد.");
          } else if (response.result == "error") {
            alert("مشکلی پیش آمده است!");
          }
        }
      );
    });

    $("input[role='mftuser-restore-or-delete-btn']").click(function () {
      var uid = $(this).attr("uid");
      var action = $(this).attr("action");
      var csrf = "{{ csrf_token }}";
      $.post(
        "/mftuser/" + uid + "/restore-or-delete/",
        {
          csrfmiddlewaretoken: csrf,
          action: action,
        },
        function (response) {
          if (response.result == "success") {
            document.getElementById(response.object).remove();
            if (action == "restore") {
              alert("کاربر با موفقیت بازگردانی شد.");
            } else if (action == "purge") {
              alert("کاربر با موفقیت حذف شد.");
            }
          } else if (response.result == "error") {
            alert("مشکلی پیش آمده است!");
          }
        }
      );
    });

    $("input[role='mftuser-get-dirs-btn']").click(function () {
      var uid = $(this).attr("uid");
      $("#current-user-id").html(uid);
      var csrf = "{{ csrf_token }}";
      $("#appendPermCheck").prop("checked", false);
      $("#writePermCheck").prop("checked", false);
      $("#readPermCheck").prop("checked", false);
      $("#overwritePermCheck").prop("checked", false);
      $("#listPermCheck").prop("checked", false);
      $("#renameFilesPermCheck").prop("checked", false);
      $("#deleteFilesPermCheck").prop("checked", false);
      $("#checksumPermCheck").prop("checked", false);
      $("#shareFilesPermCheck").prop("checked", false);
      $("#createPermCheck").prop("checked", false);
      $("#renamePermCheck").prop("checked", false);
      $("#deletePermCheck").prop("checked", false);
      $("#sharePermCheck").prop("checked", false);
      $("#applySubPermCheck").prop("checked", false);
      $("#confirmedByAdmin").prop("style", "display: none");
      const contents_list = $("#replaceable-content");
      $.get("/directory/" + uid + "/mftusers/", function (response) {
        contents_list.html(response["html_from_view"]);
        addTreeItemsFunctionality();
      });
    });

    $("input[role='invoice-confirm-btn']").click(function () {
      $("#current-invoice-id").html($(this).attr("iid"));
      $("#current-invoice-type").html($(this).attr("itype"));
      $("#invoice-confirm-modal").modal("show");
    });

    $("input[role='invoice-reject-btn']").click(function () {
      $("#current-invoice-id").html($(this).attr("iid"));
      $("#current-invoice-type").html($(this).attr("itype"));
      $("#invoice-reject-modal").modal("show");
    });

    $("input[role='invoice-delete-btn']").click(function () {
      var invoice_id = $(this).attr("iid");
      var invoice_type = $(this).attr("itype");
      var csrf = "{{ csrf_token }}";
      $.post(
        "/invoices/delete/" + invoice_id + "/",
        {
          csrfmiddlewaretoken: csrf,
          itype: invoice_type,
        },
        function (response) {
          if (response.result == "success") {
            //document.getElementById(response.type + "inv-" + response.deleted + "-parent").remove();
            $("#" + response.type + "inv-" + response.deleted + "-parent")
              .parent()
              .appendTo("#tabs-deleted-invoices");
          } else if (response.result == "error") {
            alert(response.message);
          }
        }
      );
    });

    $("input[role='invoice-change-to-new-btn']").click(function () {
      var invoice_id = $(this).attr("iid");
      var invoice_type = $(this).attr("itype");
      var csrf = "{{ csrf_token }}";
      $.post(
        "/invoices/update/" + invoice_id + "/",
        {
          csrfmiddlewaretoken: csrf,
          itype: invoice_type,
        },
        function (response) {
          if (response.result == "success") {
            //document.getElementById(response.type + "inv-" + response.updated + "-parent").remove();
            $("#" + response.type + "inv-" + response.updated + "-parent")
              .parent()
              .appendTo("#tabs-undefined-invoices");
          } else if (response.result == "error") {
            alert(response.message);
          }
        }
      );
    });

    /*$("a[role='tab']").click(function () {
      var tab_name = $(this).attr("href").replace("#", "");
      //alert(tab_name);
      //const triggerEl = document.querySelector("#" + tab_name + ' button[data-bs-target="#profile"]');
      //bootstrap.Tab.getInstance(triggerEl).show();
      //window.location.reload();
      window.location = "/manage-data/?tab=" + tab_name;
    });*/
  });
</script>
{% endblock javascripts %} {% block content %}
<main>
  {% comment %} {% include 'includes/preloader.html' %} {% endcomment %}

  <div class="section-header pb-6 bg-primary text-white">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-10 text-center" style="direction: rtl">
          <h1 class="display-3 mb-4">مدیریت کاربران و دسترسی ها</h1>
          <p class="lead">
            لیست کاربران ساخته شده ای که تأیید نشده اند و یا کاربرانی که ویرایش شده اند و همچنین دایرکتوری های جدید و لیست دسترسی کاربران به آن ها را
            مشاهده می کنید.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="section section-md">
    <div class="container">
      <div class="row mb-5">
        <div class="col-12 mx-auto">
          <div class="nav-wrapper position-relative mb-2">
            <ul class="nav nav-pills nav-fill flex-column flex-md-row" id="tabs-manage-data" role="tablist">
              {% comment %}
              <li class="col-4 nav-item">
                <a
                  class="nav-link mb-sm-3 mb-md-0 {% if selected_tab == 'tabs-mftusers' %}avtive{% endif %}"
                  id="tabs-mftusers-tab"
                  data-bs-toggle="tab"
                  href="#tabs-mftusers"
                  role="tab"
                  aria-controls="tabs-mftusers"
                  aria-selected="{% if selected_tab == 'tabs-mftusers' %}false{% endif %}"
                  ><strong>کاربران تأیید نشده</strong> <span class="fas fa-user-alt"></span
                ></a>
              </li>
              <li class="col-4 nav-item">
                <a
                  class="nav-link mb-sm-3 mb-md-0 {% if selected_tab == 'tabs-rejected-invoices' %}avtive{% endif %}"
                  id="tabs-rejected-invoice-tab"
                  data-bs-toggle="tab"
                  href="#tabs-rejected-invoices"
                  role="tab"
                  aria-controls="tabs-rejected-invoices"
                  aria-selected="{% if selected_tab == 'tabs-rejected-invoices' %}false{% endif %}"
                  ><strong>درخواست های رد شده</strong> <span class="fas fa-file-alt text-danger"></span
                ></a>
              </li>
              {% endcomment %}
              <li class="col-4 nav-item">
                <a
                  class="nav-link mb-sm-3 mb-md-0 {% if selected_tab == 'tabs-rejected-invoices' %}avtive{% endif %}"
                  id="tabs-rejected-invoices-tab"
                  data-bs-toggle="tab"
                  href="#tabs-rejected-invoices"
                  role="tab"
                  aria-controls="tabs-rejected-invoices"
                  aria-selected="{% if selected_tab == 'tabs-rejected-invoices' %}false{% endif %}"
                  ><strong>درخواست های رد شده</strong> <span class="fas fa-file-alt text-danger"></span
                ></a>
              </li>
              <li class="col-4 nav-item">
                <a
                  class="nav-link mb-sm-3 mb-md-0 {% if selected_tab == 'tabs-undefined-invoices' %}avtive{% endif %}"
                  id="tabs-undefined-invoice-tab"
                  data-bs-toggle="tab"
                  href="#tabs-undefined-invoices"
                  role="tab"
                  aria-controls="tabs-undefined-invoices"
                  aria-selected="{% if selected_tab == 'tabs-undefined-invoices' %}false{% endif %}"
                  ><strong>درخواست های چارگونی بررسی نشده</strong> <span class="fas fa-file-alt text-warning"></span
                ></a>
              </li>
              <li class="col-4 nav-item">
                <a
                  class="nav-link mb-sm-3 mb-md-0 {% if selected_tab == 'tabs-pre-invoices' or selected_tab == '' %}avtive{% endif %}"
                  id="tabs-pre-invoices-tab"
                  data-bs-toggle="tab"
                  href="#tabs-pre-invoices"
                  role="tab"
                  aria-controls="tabs-pre-invoices"
                  aria-selected="{% if selected_tab == 'tabs-pre-invoices' or selected_tab == '' %}true{% endif %}"
                  ><strong>درخواست های ایجاد مسیر</strong> <span class="fas fa-folder-open"></span
                ></a>
              </li>
            </ul>
          </div>
        </div>
        <div class="row mb-5">
          <div class="mb-3">
            <h4 class="display-6" style="direction: rtl" for="search">جستجو در بین فرم های چارگون</h4>
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                style="text-align: right; direction: rtl"
                id="search-input"
                placeholder="سریال یا تاریخ ایجاد یا کاربر ایجاد کننده یا کاربر مدنظر"
                aria-label="Search"
                aria-describedby="basic-addon"
              /><span class="input-group-text" id="basic-addon"><span id="search-icon" class="fas fa-search"></span></span>
            </div>
          </div>
        </div>
        <div class="card border-0">
          <div class="card-body p-0">
            <div class="tab-content" id="tabcontent">
              {% load coretags %}
              <div
                class="tab-pane fade {% if selected_tab == 'tabs-pre-invoices' or selected_tab == '' %}active show{% endif %}"
                id="tabs-pre-invoices"
                role="tabpanel"
                aria-labelledby="tabs-pre-invoices"
              >
                <br />
                <br />
                <br />
                <!--prettier-ignore-->
                {% comment %} {% include "includes/admin-invoice-list.html" with invoices=undefined_pre_invoices %} {% endcomment %}
                {% include "includes/admin-invoice-list.html" with invoices=pre_invoices|filter_invoices %}
              </div>
              <div
                class="tab-pane fade {% if selected_tab == 'tabs-undefined-invoices' %}active show{% endif %}"
                id="tabs-undefined-invoices"
                role="tabpanel"
                aria-labelledby="tabs-undefined-invoices"
              >
                <br />
                <br />
                <br />
                <!--prettier-ignore-->
                {% comment %} {% include "includes/admin-invoice-list.html" with invoices=undefined_invoices %} {% endcomment %}
                {% include "includes/admin-invoice-list.html" with invoices=invoices|filter_invoices %}
              </div>
              <div
                class="tab-pane fade {% if selected_tab == 'tabs-rejected-invoices' %}active show{% endif %}"
                id="tabs-rejected-invoices"
                role="tabpanel"
                aria-labelledby="tabs-rejected-invoices"
              >
                <br />
                <br />
                <br />
                <!--prettier-ignore-->
                {% comment %} {% include "includes/admin-invoice-list.html" with invoices=rejected_invoices %}
                {% include "includes/admin-invoice-list.html" with invoices=rejected_pre_invoices %} {% endcomment %}
                {% include "includes/admin-invoice-list.html" with invoices=invoices|filter_invoices:'REJECTED' %}
                {% include "includes/admin-invoice-list.html" with invoices=pre_invoices|filter_invoices:'REJECTED' %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-8 mb-5">
        <input type="button" style="width: 50%" class="btn btn-success mx-auto" value="بازگشت" onClick="javascript:history.go(-1);" />
      </div>
      <div class="row">
        <div class="col md-2">
          <div class="modal fade" id="invoice-reject-modal" role="dialog" aria-labelledby="inv-c-modal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content" style="direction: rtl">
                <div class="modal-header">
                  <h2 class="h6 modal-title">علت رد نمودن درخواست</h2>
                  <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body" style="direction: ltr">
                  <div style="display: none">
                    <p id="current-invoice-id"></p>
                    <p id="current-invoice-type"></p>
                  </div>
                  <div class="input-group mb-3">
                    <input
                      id="reason-input"
                      type="text"
                      class="form-control"
                      placeholder="Reason"
                      aria-label="Reason"
                      aria-describedby="invoice-reason-input"
                    />
                  </div>
                </div>
                <div class="modal-footer">
                  <button id="submit-reason-btn" type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">ثبت</button>
                  <button type="button" class="btn btn-link ms-0" data-bs-dismiss="modal">انصراف</button>
                  <script type="text/javascript">
                    /*var nameInput = document.getElementById("reason-input");
                    nameInput.addEventListener("change", function (event) {
                      var n = cleanInputValue(event.currentTarget.value, "name");
                      event.currentTarget.value = n;
                    });*/

                    $(function () {
                      $("#submit-reason-btn").click(function () {
                        var iid = $("#current-invoice-id").html();
                        var itype = $("#current-invoice-type").html();
                        var reason_text = $("#reason-input").val();
                        var csrf = "{{ csrf_token }}";
                        $("#invoice-reject-modal").modal("hide");
                        if (reason_text != "") {
                          $.post(
                            "/invoices/reject/" + iid + "/",
                            {
                              csrfmiddlewaretoken: csrf,
                              itype: itype,
                              reason: reason_text,
                            },
                            function (response) {
                              if (response.result == "success") {
                                //document.getElementById(response.type + "inv-" + response.rejected + "-parent").remove();
                                $("#" + response.type + "inv-" + response.rejected + "-parent")
                                  .parent()
                                  .appendTo("#tabs-rejected-invoices");
                              } else if (response.result == "error") {
                                alert(response.message);
                              }
                            }
                          );
                        } else {
                          alert("علت رد درخواست را وارد کنید!");
                        }
                        return false;
                      });
                    });
                  </script>
                </div>
              </div>
            </div>
          </div>
          <div class="modal fade" id="invoice-confirm-modal" role="dialog" aria-labelledby="inv-c-modal" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered" role="document">
              <div class="modal-content" style="direction: rtl">
                <div class="modal-header">
                  <h2 class="h6 modal-title">تأیید نمودن درخواست</h2>
                  <button type="button" class="btn-close ms-0" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <div style="display: none">
                    <p id="current-invoice-id"></p>
                    <p id="current-invoice-type"></p>
                  </div>
                  <p>آیا از تأیید این درخواست، اطمینان دارید؟</p>
                </div>
                <div class="modal-footer">
                  <button id="submit-confirm-btn" type="button" class="btn btn-secondary ms-auto" data-bs-dismiss="modal">تأیید</button>
                  <button type="button" class="btn btn-link ms-0" data-bs-dismiss="modal">انصراف</button>
                  <script type="text/javascript">
                    $(function () {
                      $("#submit-confirm-btn").click(function () {
                        var iid = $("#current-invoice-id").html();
                        var itype = $("#current-invoice-type").html();
                        var csrf = "{{ csrf_token }}";
                        $.post(
                          "/invoices/confirm/" + iid + "/",
                          {
                            csrfmiddlewaretoken: csrf,
                            itype: itype,
                          },
                          function (response) {
                            if (response.result == "success") {
                              //document.getElementById(response.type + "inv-" + response.confirmed + "-parent").remove();
                              $("#" + response.type + "inv-" + response.confirmed + "-parent")
                                .parent()
                                .remove();
                              //.appendTo("#tabs-confirmed-invoices");
                            } else if (response.result == "error") {
                              alert(response.message);
                            }
                          }
                        );
                        return false;
                      });
                    });
                  </script>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    const search_input = $("#search-input");
    const search_icon = $("#search-icon");
    const contents_list = $("#replaceable-content");
    const endpoint = window.location.pathname;
    const delay_by_in_ms = 700;
    var scheduled_function = false;

    var ajax_call = function (endpoint, request_parameters) {
      $.getJSON(endpoint, request_parameters).done((response) => {
        // fade out the users_list, then:
        contents_list
          .fadeTo("slow", 0)
          .promise()
          .then(() => {
            // replace the HTML contents
            // contents_list.html(response["html_from_view"]);
            var filtered = response["filtered_invs"];
            $("div[role-in-list='inv-container']").each(function () {
              if (filtered["invoices"].indexOf(parseInt($(this).attr("invid"))) == -1) {
                $(this).hide();
              } else {
                $(this).show();
              }
            });
            $("div[role-in-list='pinv-container']").each(function () {
              if (filtered["pre_invoices"].indexOf(parseInt($(this).attr("invid"))) == -1) {
                $(this).hide();
              } else {
                $(this).show();
              }
            });
            // fade-in the div with new contents
            contents_list.fadeTo("slow", 1);
            // stop animating search icon
            search_icon.removeClass("blink");
          });
      });
    };
    search_input.on("keyup", function () {
      const request_parameters = {
        q: $(this).val(), // value of search_input: the HTML element with ID search-input
      };
      // start animating the search icon with the CSS class
      search_icon.addClass("blink");
      // if scheduled_function is NOT false, cancel the execution of the function
      if (scheduled_function) {
        clearTimeout(scheduled_function);
      }
      // setTimeout returns the ID of the function to be executed
      scheduled_function = setTimeout(ajax_call, delay_by_in_ms, endpoint, request_parameters);
    });
  </script>
</main>

{% include "includes/footer.html" %} {% endblock content %}
